<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.electricityloggeruk">
    <uses-permission android:name="android.permission.CAMERA"/>

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:icon="@mipmap/ic_launcher"
                 android:roundIcon="@mipmap/ic_launcher_round"
                 android:supportsRtl="true"
                 android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
                  android:label="Track Electricity Usage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ScannerActivity"
                  android:label="Scan QR Code">
            <intent-filter>
                <action android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
        <activity android:name=".QRCodeResults"
                  android:label="Carbon Footprint Results">
        </activity>
        <activity android:name=".Results"
                  android:label="Carbon Footprint Results">
        </activity>
        <activity android:name=".ManualEntryActivity"
                  android:label="Enter Electricity Usage">
        </activity>
    </application>

</manifest>
